body{
    background-color: rgb(81, 63, 100);
}

h1{
    text-decoration: underline;
}

.controls {
  display: grid;
  grid-template-columns: repeat(2, 60px); /* 2 columns */
  grid-template-rows: repeat(2, 60px);    /* 2 rows */
  gap: 80px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.controls button {
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: background-color 0.2s;
}

#counter {
  background-color: #1f6feb;
  pointer-events: none;
  font-weight: 600;
}

#inc { background-color: rgb(17, 86, 17); }
#dec { background-color: rgb(52, 4, 57); }
#reset { background-color: gray; }
